@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-barlow: "Barlow", "sans-serif";
  --font-barlow-condensed: "Barlow Condensed", "sans-serif";

  --bg-primary-cray: #f8f9e6;
  --bg-secondary-cray: #fccd97;
  --bg-tertiary-cray: #fff2e2;

  --text-color-black: #040907;
  --text-color-grey: #8b8b86;

  --my-width-nav: calc(100% - 32px);
}

:root,
#root {
  font-family: var(--font-barlow-condensed);
  color: var(--text-color-black);
  background-color: var(--bg-primary-cray);

  padding: 0;
  margin: 0;
  max-width: 100%;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}